body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  padding-top: 80px;
}

.messages {
  height: 30px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 35vw;
  height: 50vh;
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease;
}

.container:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.item {
  width: 100px;
  height: 150px;
  background-color: #b7cce0;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  cursor: move;
  transition: background-color 0.3s ease-in-out;
  transform-style: preserve-3d;
  perspective: 800px;
  transition: transform 0.3s ease;
}
.delete-icon {
  transition: color 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: end;
}

.delete-icon:hover {
  color: red;
}
.delete-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  animation: fadeIn 0.5s ease-in-out;
}

.item:hover {
  background-color: #a7e3e2;
}
.item-image {
  width: 100px;
  height: 100px;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
  animation: fadeIn 0.5s ease-in-out;
}

.button {
  display: flex;
  justify-content: center;
}
.reset-button {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.reset-button:hover {
  background-color: #555555;
}
.drop-text {
  color: white;
  font-weight: 500;
  padding-left: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 60px;
    font-weight: 500;
  }
  .container-wrapper {
    padding-top: 20px;
  }

  .container {
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
    padding-top: 50px;
  }

  .item {
    width: 200px;
    height: 200px;
  }
}
